
.container {
	border: black 2px solid;
	width: 700px;
	height: 500px;
}

#foodSearch {
	margin-top: 100px;
	margin-left: 120px;
}

#submit {
	margin-left: 120px;
}

.foodButton {
	width: 200px;
	background: linear-gradient(#EF951A, #DE6A10)
}

#nutrition-input {
	width: 40%;
	float: left;
	margin-top: 10px;
}

#food-storage {
	width: 40%;
	float:right;
	margin-top: 10px;
}

.search-section {
	width: 100%;
}