
.container {
	border: black 2px solid;
	width: 400px;
	height: 500px;
}

#foodSearch {
	margin-top: 100px;
	margin-left: 120px;
}

#submit {
	margin-left: 120px;
}

.foodButton {
	width: 400px;
	background: linear-gradient(#EF951A, #DE6A10)
}