body {
    
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-image: url('../images/fruit2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#user-div {
    border: black 3px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    margin-left: 400px;
    margin-bottom: 40px;
    text-align: center;
}

#foodSearch {
    margin-top: 10px;
    margin-left: -550px;
    margin-bottom: 10px;
    color: black;
}

#submit-food {
    margin-left: -550px;
}

.foodButton {
    width: 200px;
    background: linear-gradient(#EF951A , #DE6A10 )
}

#nutrition-input {
    width: 30%;
    float: left;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
}

#food-storage {
    width: 30%;
    margin-left: 200px;
    margin-top: 10px;
}

.search-section {
    width: 100%;
}

#result-div {
    height: 100px;
    border: black 3px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    margin-left: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 150%;
    text-align: center;
    padding: 30px;
}

.foodInput {
    overflow-x: hidden;
}

.newCalDiv {
	font-size: 150%;
}

#hero_logo {
	width: 40%;
}

#left-side {
	text-align: center;
	color: white;
	background: linear-gradient(#51A7F9, #0365C0)
}

#right-side {
	text-align: center;
	background: linear-gradient(#EF951A, #DE6A10)
}

.loginItem {
	display: inline-block;
}

#new-user-form, #existing-user-span {
	text-align: center;
	margin: 5px;
}

.frms_noborders, form_noborder {
	text-align: center;
}

.table {
	width: 80%;
	margin: 0px auto;
	max-width: 400px;
}

input, select {
	margin-right: 5px;
}

select {
	height: 26px;
}

.loginItem {
	margin-left: 5px;
	margin-right: 5px;
}

#right-side, #left-side {
	display: block;
	height: 423px;
}

#containment {
	width: 99%;
	text-align: center;
}
